## EU Commission dataset on congenital anomalies

Analysing real-world data sourced from the EU registries of congenital anomalies.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import re
sns.set(font_scale=1.5)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
df = pd.DataFrame(pd.read_excel("/Users/dayosangowawa/Downloads/dataset.xlsx"))

In [3]:
df.head()

,"Number of cases, prevalence per 10,000 births and proportion of the following anomalies: All Anomalies, Nervous system, Neural Tube Defects, Anencephalus and similar, Encephalocele, Spina Bifida, Hydrocephalus, Severe microcephaly, Arhinencephaly/holoprosencephaly, Eye, Anophthalmos/micropthalmos, Anophthalmos, Congenital cataract, Congenital glaucoma, Ear, face and neck, Anotia, Congenital heart defects, Common arterial truncus, Transposition of great vessels, Single ventricle, Ventricular septal defect (VSD), Atrial septal defect (ASD), Atrioventricular septal defect (AVSD), Tetralogy of Fallot, Tricuspid atresia and stenosis, Ebstein's anomaly, Pulmonary valve stenosis, Pulmonary valve atresia, Aortic valve atresia/stenosis, Hypoplastic left heart, Hypoplastic right heart, Coarctation of aorta, Total anomalous pulm venous return, Respiratory, Choanal atresia, Cystic adenomatous malf of lung, Digestive system, Oesophageal atresia with or without tracheo-oesophageal fistula, Duodenal atresia or stenosis, Atresia or stenosis of other parts of small intestine, Ano-rectal atresia and stenosis, Hirschsprung's disease, Atresia of bile ducts, Annular pancreas, Diaphragmatic hernia, Abdominal wall defects, Gastroschisis, Omphalocele, Urinary, Bilateral renal agenesis including Potter syndrome, Multicystic renal dysplasia, Congenital hydronephrosis, Bladder exstrophy and/or epispadia, Posterior urethral valve and/or prune belly, Genital, Hypospadias, Indeterminate sex, Limb, Limb reduction defects, Club foot - talipes equinovarus, Hip dislocation and/or dysplasia, Polydactyly, Syndactyly, Craniosynostosis, Congenital constriction bands/amniotic band, Situs inversus, Conjoined twins, Congenital skin disorders, Teratogenic syndromes with malformations, Fetal alcohol syndrome, Valproate syndrome, Maternal infections resulting in malformations, Chromosomal, Down Syndrome, Patau syndrome/trisomy 13, Edward syndrome/trisomy 18, Turner syndrome, Klinefelter syndrome, Severe CHD, PDA as only CHD in term infants (>=37 weeks), Oro-facial clefts, Cleft lip with or without palate, Cleft palate, Skeletal dysplasias, Genetic syndromes + microdeletions, Double outlet right ventricle, Mitral valve anomalies, Aortic atresia/interrupted aortic arch, VATER/VACTERL, Vascular disruption anomalies, Lateral anomalies for all full registries from 2000 - 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)

In [4]:
df.shape

(57270, 15)

In [5]:
df = df.iloc[1:]

In [6]:
df.columns = df.iloc[0]

In [7]:
df.head()

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)

In [8]:
df.shape

(57269, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57269 entries, 1 to 57269
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country / registry         62 non-null     object
 1   Anomaly ^                  3386 non-null   object
 2   Years                      57240 non-null  object
 3   Population                 57240 non-null  object
 4   LB N                       57240 non-null  object
 5   FD N                       57240 non-null  object
 6   TOPFA N                    57240 non-null  object
 7   Total N                    57240 non-null  object
 8   Total Prevalence (95% CI)  57240 non-null  object
 9   LB Prevalence (95% CI)     57240 non-null  object
 10  FD Prevalence (95% CI)     57240 non-null  object
 11  TOPFA Prevalence (95% CI)  57240 non-null  object
 12  LB Proportion (95% CI)     57240 non-null  object
 13  FD Proportion (95% CI)     57240 non-null  object
 14  TOPFA Proportion (95% CI)  57240 non-null  object
dtypes: object(15)
memory usage: 6.6+ MB

In [10]:
df.describe(include='all')

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
count,62,3386,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240
unique,62,110,18,507,580,50,248,659,14430,12560,1894,6099,3970,1728,3633
top,Malta - Malta,Atrioventricular septal defect (AVSD),2005,0,0,0,0,0,-,-,-,-,-,-,-
freq,1,37,3367,10647,22857,48304,37208,19795,19795,22857,48304,37208,22857,48304,37208

In [11]:
df['Country / registry'].unique()

#very messy

array(['Country / registry', 'Styria - Austria', nan, 'Antwerp - Belgium',
       'Hainaut - Belgium', 'Pleven - Bulgaria ¹', 'Zagreb - Croatia',
       'Odense - Denmark', 'Paris - France', 'Auvergne - France ²',
       'Isle de la Reunion - France ⁵', 'French West Indies - France ⁴',
       'Brittany - France ³', 'Saxony-Anhalt - Germany',
       'Mainz - Germany ⁶', 'Dublin - Ireland ⁷',
       'Cork and Kerry - Ireland', 'SE Ireland - Ireland',
       'Milan Area - Italy ⁸', 'Emilia Romagna - Italy',
       'Tuscany - Italy', 'Malta - Malta', 'N Netherlands - NL',
       'Norway - Norway', 'Wielkopolska - Poland',
       'S Portugal - Portugal', 'Basque Country - Spain',
       'Valencian Region - Spain ¹⁰', 'Navarre - Spain ⁹',
       'Vaud - Switzerland', 'Ukraine - Ukraine ¹¹',
       'Wales - United Kingdom', 'Thames Valley - United Kingdom',
       'Wessex - United Kingdom',
       'East Midlands & South Yorkshire - United Kingdom',
       'Northern England - United Kingdom',
       'South West England - United Kingdom ¹²',
       'West Midlands - United Kingdom ¹³',
       'Yorkshire and Humber - United Kingdom ¹⁴', 'LB = Live Births',
       'FD = Fetal Deaths / Still Births from 20 weeks gestation',
       'TOPFA = Termination of pregnancy for fetal anomaly following prenatal diagnosis',
       '^ = The number of cases in each congenital anomaly subgroup is NOT the number of isolated cases. In particular the outcome, such as fetal deaths (FD) or terminations (TOPFA), for seemingly less severe anomalies may have occurred as the case had other more severe major anomalies.',
       '+ = Live birth denominator is not available and has been substituted by the total number of births (live births + still births)',
       '- = Data not available',
       '§ = Incomplete or missing specification of ICD 9 codes',
       'Data is not available for the following years/registries:',
       '¹ Bulgaria', '² France', '³ France', '⁴ France', '⁵ France',
       '⁶ Germany', '⁷ Ireland', '⁸ Italy', '⁹ Spain', '¹⁰ Spain',
       '¹¹ Ukraine', '¹² United Kingdom', '¹³ United Kingdom',
       '¹⁴ United Kingdom', 'Source:', 'Copyright:'], dtype=object)

In [12]:
df.tail(45)

#looks like metadata has been merged with the actual dataset

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
57225,NaN,NaN,2001,0,0,0,0,0,-,-,-,-,-,-,-
57226,NaN,NaN,2002,0,0,0,0,0,-,-,-,-,-,-,-
57227,NaN,NaN,2003,0,0,0,0,0,-,-,-,-,-,-,-
57228,NaN,NaN,2004,0,0,0,0,0,-,-,-,-,-,-,-
57229,NaN,NaN,2005,0,0,0,0,0,-,-,-,-,-,-,-
57230,NaN,NaN,2006,0,0,0,0,0,-,-,-,-,-,-,-
57231,NaN,NaN,2007,0,0,0,0,0,-,-,-,-,-,-,-
57232,NaN,NaN,2008,0,0,0,0,0,-,-,-,-,-,-,-
57233,NaN,NaN,2009,0,0,0,0,0,-,-,-,-,-,-,-
57234,NaN,NaN,2010,0,0,0,0,0,-,-,-,-,-,-,-
57235,NaN,NaN,2011,0,0,0,0,0,-,-,-,-,-,-,-
57236,NaN,NaN,2012,0,0,0,0,0,-,-,-,-,-,-,-
57237,NaN,NaN,2013,0,0,0,0,0,-,-,-,-,-,-,-
57238,NaN,NaN,2014,0,0,0,0,0,-,-,-,-,-,-,-
57239,NaN,NaN,2015,0,0,0,0,0,-,-,-,-,-,-,-
57240,NaN,NaN,2016,44416,4,1,0,5,1.13 (0.36 - 2.64),0.90 (0.24 - 2.32),0.23 (0.00 - 1.28),-,80.00% (37.55% - 96.38%),20.00% (3.62% - 62.45%),-
57241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57242,LB = Live Births,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57243,FD = Fetal Deaths / Still Births from 20 weeks...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57244,TOPFA = Termination of pregnancy for fetal ano...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57245,^ = The number of cases in each congenital ano...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57246,+ = Live birth denominator is not available an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57247,- = Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57248,§ = Incomplete or missing specification of ICD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57250,Data is not available for the following years/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57251,¹ Bulgaria,"Pleven - Bulgaria (2000, 2001, 2002, 2003, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57252,² France,"Auvergne - France (2000, 2001)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57253,³ France,"Brittany - France (2000, 2001, 2002, 2003, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57254,⁴ France,"French West Indies - France (2000, 2001, 2002,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57255,⁵ France,"Isle de la Reunion - France (2000, 2001)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57256,⁶ Germany,"Mainz - Germany (2015, 2016)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57257,⁷ Ireland,"Dublin - Ireland (2013, 2014, 2015, 2016)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57258,⁸ Italy,"Milan Area - Italy (2000, 2001, 2002, 2003, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57259,⁹ Spain,"Navarre - Spain (2000, 2001, 2002, 2003, 2004,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57260,¹⁰ Spain,"Valencian Region - Spain (2000, 2001, 2002, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57261,¹¹ Ukraine,"Ukraine - Ukraine (2000, 2001, 2002, 2003, 2004)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57262,¹² United Kingdom,"South West England - United Kingdom (2000, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57263,¹³ United Kingdom,"West Midlands - United Kingdom (2000, 2001, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57264,¹⁴ United Kingdom,"Yorkshire and Humber - United Kingdom (2000, 2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57266,Source:,European Platform on Rare Diseases Registration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57267,NaN,From https://eu-rd-platform.jrc.ec.europa.eu/e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57268,NaN,Data uploaded 28/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57269,Copyright:,"European Union, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df = df.iloc[:57240]

In [14]:
df['Country / registry'].value_counts()

#indicates that countries/registries have not been coded properly.

Malta - Malta                                       1
South West England - United Kingdom ¹²              1
Antwerp - Belgium                                   1
Saxony-Anhalt - Germany                             1
Thames Valley - United Kingdom                      1
Wielkopolska - Poland                               1
Emilia Romagna - Italy                              1
S Portugal - Portugal                               1
Mainz - Germany ⁶                                   1
Auvergne - France ²                                 1
Odense - Denmark                                    1
Valencian Region - Spain ¹⁰                         1
Brittany - France ³                                 1
Pleven - Bulgaria ¹                                 1
Wales - United Kingdom                              1
Milan Area - Italy ⁸                                1
Isle de la Reunion - France ⁵                       1
Tuscany - Italy                                     1
N Netherlands - NL                                  1
Hainaut - Belgium                                   1
West Midlands - United Kingdom ¹³                   1
Zagreb - Croatia                                    1
Wessex - United Kingdom                             1
SE Ireland - Ireland                                1
Basque Country - Spain                              1
Styria - Austria                                    1
Navarre - Spain ⁹                                   1
Norway - Norway                                     1
Cork and Kerry - Ireland                            1
Yorkshire and Humber - United Kingdom ¹⁴            1
Ukraine - Ukraine ¹¹                                1
Dublin - Ireland ⁷                                  1
French West Indies - France ⁴                       1
Vaud - Switzerland                                  1
Paris - France                                      1
Northern England - United Kingdom                   1
Country / registry                                  1
East Midlands & South Yorkshire - United Kingdom    1
Name: Country / registry, dtype: int64

In [15]:
df = df[1:]

In [16]:
df.head(10)

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)
6,NaN,NaN,2004,10510,392,5,36,433,411.99 (374.11 - 452.66),372.98 (336.99 - 411.77),4.76 (1.51 - 11.14),34.25 (23.99 - 47.42),90.53% (87.41% - 92.94%),1.15% (0.49% - 2.67%),8.31% (6.07% - 11.30%)
7,NaN,NaN,2005,10473,357,3,41,401,382.89 (346.35 - 422.24),340.88 (306.45 - 378.12),2.86 (0.55 - 8.42),39.15 (28.10 - 53.10),89.03% (85.59% - 91.72%),0.75% (0.25% - 2.18%),10.22% (7.63% - 13.58%)
8,NaN,NaN,2006,10327,288,2,39,329,318.58 (285.11 - 354.92),278.88 (247.62 - 313.00),1.94 (0.19 - 7.06),37.77 (26.86 - 51.62),87.54% (83.53% - 90.68%),0.61% (0.17% - 2.19%),11.85% (8.79% - 15.79%)
9,NaN,NaN,2007,10209,231,4,47,282,276.23 (244.95 - 310.40),226.27 (198.05 - 257.39),3.92 (1.03 - 10.07),46.04 (33.83 - 61.21),81.91% (77.00% - 85.97%),1.42% (0.55% - 3.59%),16.67% (12.77% - 21.46%)
10,NaN,NaN,2008,10281,215,3,41,259,251.92 (222.19 - 284.53),209.12 (182.12 - 239.01),2.92 (0.56 - 8.58),39.88 (28.62 - 54.10),83.01% (77.96% - 87.09%),1.16% (0.39% - 3.35%),15.83% (11.89% - 20.77%)
11,NaN,NaN,2009,10235,240,12,38,290,283.34 (251.69 - 317.88),234.49 (205.78 - 266.09),11.72 (6.04 - 20.49),37.13 (26.28 - 50.96),82.76% (77.99% - 86.67%),4.14% (2.38% - 7.09%),13.10% (9.70% - 17.47%)

In [17]:
df['Country / registry'] = df['Country / registry'].astype(str)

In [18]:
[x for x in df['Country / registry'] if x != 'nan']
#order in which the countries are in

['Styria - Austria',
 'Antwerp - Belgium',
 'Hainaut - Belgium',
 'Pleven - Bulgaria ¹',
 'Zagreb - Croatia',
 'Odense - Denmark',
 'Paris - France',
 'Auvergne - France ²',
 'Isle de la Reunion - France ⁵',
 'French West Indies - France ⁴',
 'Brittany - France ³',
 'Saxony-Anhalt - Germany',
 'Mainz - Germany ⁶',
 'Dublin - Ireland ⁷',
 'Cork and Kerry - Ireland',
 'SE Ireland - Ireland',
 'Milan Area - Italy ⁸',
 'Emilia Romagna - Italy',
 'Tuscany - Italy',
 'Malta - Malta',
 'N Netherlands - NL',
 'Norway - Norway',
 'Wielkopolska - Poland',
 'S Portugal - Portugal',
 'Basque Country - Spain',
 'Valencian Region - Spain ¹⁰',
 'Navarre - Spain ⁹',
 'Vaud - Switzerland',
 'Ukraine - Ukraine ¹¹',
 'Wales - United Kingdom',
 'Thames Valley - United Kingdom',
 'Wessex - United Kingdom',
 'East Midlands & South Yorkshire - United Kingdom',
 'Northern England - United Kingdom',
 'South West England - United Kingdom ¹²',
 'West Midlands - United Kingdom ¹³',
 'Yorkshire and Humber - United Kingdom ¹⁴']

### Addressing null values

I decided to forward fill the null values in the Country/registry and Anomaly columns because when the data was read in from the xls format, these values were coded as nan when originally they were merged cells.

In [19]:
df['Country / registry'].replace('nan', np.nan, inplace=True)

In [20]:
df['Country / registry'].fillna(method='ffill', inplace=True)

In [21]:
df.replace('Pleven - Bulgaria ¹', 'Pleven - Bulgaria', inplace = True)
#removing numerical figure in Pleven, Bulgaria name.

In [22]:
df['Country / registry'].value_counts()

Malta - Malta                                       1547
Hainaut - Belgium                                   1547
Antwerp - Belgium                                   1547
Saxony-Anhalt - Germany                             1547
Thames Valley - United Kingdom                      1547
Wielkopolska - Poland                               1547
Emilia Romagna - Italy                              1547
S Portugal - Portugal                               1547
Mainz - Germany ⁶                                   1547
South West England - United Kingdom ¹²              1547
Auvergne - France ²                                 1547
Valencian Region - Spain ¹⁰                         1547
Brittany - France ³                                 1547
Wales - United Kingdom                              1547
Milan Area - Italy ⁸                                1547
Isle de la Reunion - France ⁵                       1547
Tuscany - Italy                                     1547
N Netherlands - NL                                  1547
West Midlands - United Kingdom ¹³                   1547
Pleven - Bulgaria                                   1547
Zagreb - Croatia                                    1547
Odense - Denmark                                    1547
Wessex - United Kingdom                             1547
SE Ireland - Ireland                                1547
Basque Country - Spain                              1547
Styria - Austria                                    1547
Navarre - Spain ⁹                                   1547
Norway - Norway                                     1547
Cork and Kerry - Ireland                            1547
Yorkshire and Humber - United Kingdom ¹⁴            1547
Ukraine - Ukraine ¹¹                                1547
Dublin - Ireland ⁷                                  1547
French West Indies - France ⁴                       1547
Vaud - Switzerland                                  1547
Paris - France                                      1547
Northern England - United Kingdom                   1547
East Midlands & South Yorkshire - United Kingdom    1547
Name: Country / registry, dtype: int64

In [23]:
df.head(50)

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,Styria - Austria,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,Styria - Austria,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,Styria - Austria,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)
6,Styria - Austria,NaN,2004,10510,392,5,36,433,411.99 (374.11 - 452.66),372.98 (336.99 - 411.77),4.76 (1.51 - 11.14),34.25 (23.99 - 47.42),90.53% (87.41% - 92.94%),1.15% (0.49% - 2.67%),8.31% (6.07% - 11.30%)
7,Styria - Austria,NaN,2005,10473,357,3,41,401,382.89 (346.35 - 422.24),340.88 (306.45 - 378.12),2.86 (0.55 - 8.42),39.15 (28.10 - 53.10),89.03% (85.59% - 91.72%),0.75% (0.25% - 2.18%),10.22% (7.63% - 13.58%)
8,Styria - Austria,NaN,2006,10327,288,2,39,329,318.58 (285.11 - 354.92),278.88 (247.62 - 313.00),1.94 (0.19 - 7.06),37.77 (26.86 - 51.62),87.54% (83.53% - 90.68%),0.61% (0.17% - 2.19%),11.85% (8.79% - 15.79%)
9,Styria - Austria,NaN,2007,10209,231,4,47,282,276.23 (244.95 - 310.40),226.27 (198.05 - 257.39),3.92 (1.03 - 10.07),46.04 (33.83 - 61.21),81.91% (77.00% - 85.97%),1.42% (0.55% - 3.59%),16.67% (12.77% - 21.46%)
10,Styria - Austria,NaN,2008,10281,215,3,41,259,251.92 (222.19 - 284.53),209.12 (182.12 - 239.01),2.92 (0.56 - 8.58),39.88 (28.62 - 54.10),83.01% (77.96% - 87.09%),1.16% (0.39% - 3.35%),15.83% (11.89% - 20.77%)
11,Styria - Austria,NaN,2009,10235,240,12,38,290,283.34 (251.69 - 317.88),234.49 (205.78 - 266.09),11.72 (6.04 - 20.49),37.13 (26.28 - 50.96),82.76% (77.99% - 86.67%),4.14% (2.38% - 7.09%),13.10% (9.70% - 17.47%)
12,Styria - Austria,NaN,2010,10442,253,2,40,295,282.51 (251.21 - 316.64),242.29 (213.37 - 274.04),1.92 (0.19 - 6.98),38.31 (27.37 - 52.16),85.76% (81.31% - 89.29%),0.68% (0.19% - 2.44%),13.56% (10.12% - 17.94%)
13,Styria - Austria,NaN,2011,10226,226,2,38,266,260.12 (229.82 - 293.32),221.01 (193.15 - 251.76),1.96 (0.19 - 7.13),37.16 (26.30 - 51.00),84.96% (80.17% - 88.76%),0.75% (0.21% - 2.70%),14.29% (10.59% - 19.00%)
14,Styria - Austria,NaN,2012,10385,178,2,40,220,211.84 (184.79 - 241.75),171.40 (147.16 - 198.50),1.93 (0.19 - 7.02),38.52 (27.52 - 52.45),80.91% (75.20% - 85.55%),0.91% (0.25% - 3.25%),18.18% (13.65% - 23.81%)
15,Styria - Austria,NaN,2013,10338,194,2,59,255,246.66 (217.33 - 278.85),187.66 (162.20 - 215.99),1.93 (0.19 - 7.05),57.07 (43.45 - 73.61),76.08% (70.48% - 80.90%),0.78% (0.22% - 2.81%),23.14% (18.38% - 28.69%)
16,Styria - Austria,NaN,2014,10457,188,4,46,238,227.60 (199.62 - 258.41),179.78 (155.02 - 207.39),3.83 (1.00 - 9.84),43.99 (32.21 - 58.67),78.99% (73.38% - 83.69%),1.68% (0.66% - 4.24%),19.33% (14.81% - 24.82%)
17,Styria - Austria,NaN,2015,11176,164,4,48,216,193.27 (168.37 - 220.82),146.74 (125.16 - 170.99),3.58 (0.94 - 9.20),42.95 (31.67 - 56.94),75.93% (69.80% - 81.14%),1.85% (0.72% - 4.66%),22.22% (17.19% - 28.22%)
18,Styria - Austria,NaN,2016,11247,182,3,56,241,214.28 (188.10 - 243.09),161.82 (139.18 - 187.10),2.67 (0.51 - 7.84),49.79 (37.62 - 64.65),75.52% (69.72% - 80.52%),1.24% (0.42% - 3.60%),23.24% (18.35% - 28.96%)
19,Styria - Austria,Nervous system,2000,10719,26,4,10,40,37.32 (26.66 - 50.81),24.26 (15.84 - 35.54),3.73 (0.98 - 9.60),9.33 (4.46 - 17.17),65.00% (49.51% - 77.87%),10.00% (3.96% - 23.05%),25.00% (14.19% - 40.19%)
20,Styria - Austria,NaN,2001,10050,25,0,11,36,35.82 (25.09 - 49.59),24.88 (16.10 - 36.72),-,10.95 (5.45 - 19.60),69.44% (53.14% - 82.00%),-,30.56% (18.00% - 46.86%)
21,Styria - Austria,NaN,2002,10511,26,2,9,37,35.20 (24.79 - 48.52),24.74 (16.16 - 36.25),1.90 (0.19 - 6.94),8.56 (3.89 - 16.27),70.27% (54.22% - 82.51%),5.41% (1.50% - 17.70%),24.32% (13.36% - 40.12%)
22,Styria - Austria,NaN,2003,10404,24,4,15,43,41.33 (29.92 - 55.67),23.07 (14.78 - 34.33),3.84 (1.01 - 9.89),14.42 (8.06 - 23.79),55.81% (41.11% - 69.57%),9.30% (3.68% - 21.60%),34.88% (22.42% - 49.83%)
23,Styria - Austria,NaN,2004,10510,32,0,10,42,39.96 (28.81 - 54.01),30.45 (20.83 - 42.98),-,9.51 (4.54 - 17.52),76.19% (61.47% - 86.52%),-,23.81% (13.48% - 38.53%)
24,Styria - Austria,NaN,2005,10473,24,2,14,40,38.19 (27.29 - 52.00),22.92 (14.68 - 34.10),1.91 (0.19 - 6.96),13.37 (7.30 - 22.44),60.00% (44.60% - 73.65%),5.00% (1.38% - 16.50%),35.00% (22.13% - 50.49%)
25,Styria - Austria,NaN,2006,10327,21,2,6,29,28.08 (18.81 - 40.33),20.34 (12.58 - 31.09),1.94 (0.19 - 7.06),5.81 (2.10 - 12.68),72.41% (54.28% - 85.30%),6.90% (1.91% - 21.96%),20.69% (9.85% - 38.39%)
26,Styria - Austria,NaN,2007,10209,13,2,13,28,27.43 (18.22 - 39.64),12.73 (6.77 - 21.79),1.96 (0.19 - 7.14),12.73 (6.77 - 21.79),46.43% (29.53% - 64.19%),7.14% (1.98% - 22.65%),46.43% (29.53% - 64.19%)
27,Styria - Austria,NaN,2008,10281,7,2,8,17,16.54 (9.62 - 26.48),6.81 (2.71 - 14.06),1.95 (0.19 - 7.09),7.78 (3.34 - 15.36),41.18% (21.61% - 63.99%),11.76% (3.29% - 34.34%),47.06% (26.16% - 69.04%)
28,Styria - Austria,NaN,2009,10235,21,4,5,30,29.31 (19.78 - 41.84),20.52 (12.70 - 31.37),3.91 (1.03 - 10.05),4.89 (1.55 - 11.44),70.00% (52.12% - 83.34%),13.33% (5.31% - 29.68%),16.67% (7.34% - 33.56%)
29,Styria - Austria,NaN,2010,10442,25,1,13,39,37.35 (26.56 - 51.05),23.94 (15.49 - 35.34),0.96 (0.00 - 5.42),12.45 (6.62 - 21.30),64.10% (48.42% - 77.26%),2.56% (0.45% - 13.18%),33.33% (20.63% - 49.02%)
30,Styria - Austria,NaN,2011,10226,16,0,7,23,22.49 (14.25 - 33.75),15.65 (8.93 - 25.42),-,6.85 (2.73 - 14.13),69.57% (49.13% - 84.40%),-,30.43% (15.60% - 50.87%)
31,Styria - Austria,NaN,2012,10385,12,0,13,25,24.07 (15.58 - 35.54),11.56 (5.96 - 20.20),-,12.52 (6.65 - 21.42),48.00% (30.03% - 66.50%),-,52.00% (33.50% - 69.97%)
32,Styria - Austria,NaN,2013,10338,8,0,15,23,22.25 (14.10 - 33.39),7.74 (3.32 - 15.27),-,14.51 (8.11 - 23.94),34.78% (18.81% - 55.11%),-,65.22% (44.89% - 81.19%)
33,Styria - Austria,NaN,2014,10457,12,0,13,25,23.91 (15.47 - 35.29),11.48 (5.91 - 20.06),-,12.43 (6.61 - 21.27),48.00% (30.03% - 66.50%),-,52.00% (33.50% - 69.97%)
34,Styria - Austria,NaN,2015,11176,15,1,9,25,22.37 (14.47 - 33.02),13.42 (7.50 - 22.15),0.89 (0.00 - 5.07),8.05 (3.66 - 15.31),60.00% (40.74% - 76.60%),4.00% (0.71% - 19.54%),36.00% (20.25% - 55.48%)
35,Styria - Austria,NaN,2016,11247,6,1,5,12,10.67 (5.50 - 18.65),5.33 (1.93 - 11.64),0.89 (0.00 - 5.04),4.45 (1.41 - 10.41),50.00% (25.38% - 74.62%),8.33% (1.49% - 35.39%),41.67% (19.33% - 68.05%)
36,Styria - Austria,Neural Tube Defects,2000,10719,4,2,5,11,10.26 (5.11 - 18.38),3.73 (0.98 - 9.60),1.87 (0.18 - 6.80),4.66 (1.48 - 10.92),36.36% (15.17% - 64.62%),18.18% (5.14% - 47.70%),45.45% (21.27% - 71.99%)
37,Styria - Austria,NaN,2001,10050,1,0,6,7,6.97 (2.77 - 14.38),1.00 (0.00 - 5.64),-,5.97 (2.16 - 13.03),14.29% (2.57% - 51.31%),-,85.71% (48.69% - 97.43%)
38,Styria - Austria,NaN,2002,10511,8,1,4,13,12.37 (6.57 - 21.16),7.61 (3.26 - 15.02),0.95 (0.00 - 5.39),3.81 (1.00 - 9.79),61.54% (35.52% - 82.29%),7.69% (1.37% - 33.31%),30.77% (12.68% - 57.63%)
39,Styria - Austria,NaN,2003,10404,3,2,3,8,7.69 (3.30 - 15.17),2.88 (0.55 - 8.48),1.92 (0.19 - 7.01),2.88 (0.55 - 8.48),37.50% (13.68% - 69.43%),25.00% (7.15% - 59.07%),37.50% (13.68% - 69.43%)
40,Styria - Austria,NaN,2004,10510,8,0,7,15,14.27 (7.98 - 23.55),7.61 (3.26 - 15.02),-,6.66 (2.65 - 13.75),53.33% (30.12% - 75.19%),-,46.67% (24.81% - 69.88%)
41,Styria - Austria,NaN,2005,10473,4,0,10,14,13.37 (7.30 - 22.44),3.82 (1.00 - 9.82),-,9.55 (4.56 - 17.58),28.57% (11.72% - 54.65%),-,71.43% (45.35% - 88.28%)
42,Styria - Austria,NaN,2006,10327,4,1,1,6,5.81 (2.10 - 12.68),3.87 (1.02 - 9.96),0.97 (0.00 - 5.49),0.97 (0.00 - 5.49),66.67% (30.00% - 90.32%),16.67% (3.01% - 56.35%),16.67% (3.01% - 56.35%)
43,Styria - Austria,NaN,2007,10209,3,0,6,9,8.82 (4.01 - 16.76),2.94 (0.56 - 8.64),-,5.88 (2.13 - 12.82),33.33% (12.06% - 64.58%),-,66.67% (35.42% - 87.94%)
44,Styria - Austria,NaN,2008,10281,2,0,4,6,5.84 (2.11 - 12.73),1.95 (0.19 - 7.09),-,3.89 (1.02 - 10.00),33.33% (9.68% - 70.00%),-,66.67% (30.00% - 90.32%)
45,Styria - Austria,NaN,2009,10235,1,1,3,5,4.89 (1.55 - 11.44),0.98 (0.00 - 5.53),0.98 (0.00 - 5.53),2.93 (0.56 - 8.62),20.00% (3.62% - 62.45%),20.00% (3.62% - 62.45%),60.00% (23.07% - 88.24%)
46,Styria - Austria,NaN,2010,10442,3,1,5,9,8.62 (3.92 - 16.38),2.87 (0.55 - 8.45),0.96 (0.00 - 5.42),4.79 (1.52 - 11.21),33.33% (12.06% - 64.58%),11.11% (1.99% - 43.50%),55.56% (26.66% - 81.12%)
47,Styria - Austria,NaN,2011,10226,0,0,2,2,1.96 (0.19 - 7.13),-,-,1.96 (0.19 - 7.13),-,-,100.00% (34.24% - 100.00%)
48,Styria - Austria,NaN,2012,10385,1,0,4,5,4.81 (1.53 - 11.27),0.96 (0.00 - 5.45),-,3.85 (1.01 - 9.90),20.00% (3.62% - 62.45%),-,80.00% (37.55% - 96.38%)
49,Styria - Austria,NaN,2013,10338,0,0,8,8,7.74 (3.32 - 15.27),-,-,7.74 (3.32 - 15.27),-,-,100.00% (67.56% - 100.00%)
50,Styria - Austria,NaN,2014,10457,1,0,6,7,6.69 (2.67 - 13.82),0.96 (0.00 - 5.42),-,5.74 (2.08 - 12.52),14.29% (2.57% - 51.31%),-,85.71% (48.69% - 97.43%)
51,Styria - Austria,NaN,2015,11176,2,1,3,6,5.37 (1.94 - 11.71),1.79 (0.17 - 6.53),0.89 (0.00 - 5.07),2.68 (0.51 - 7.89),33.33% (9.68% - 70.00%),16.67% (3.01% - 56.35%),50.00% (18.76% - 81.24%)

In [24]:
df.replace('nan', np.nan, inplace=True)
#properly imputing nan values as null.

In [25]:
df.rename(columns={'Anomaly ^':'Anomaly', 'LB N': 'live_births', 'FD N': 'still_births', 'Total N':'total_no_of_cases',
                  'TOPFA N': 'termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis',
                  'FD Proportion (95% CI)':'still_birth_proportion_(95% CI)'}, inplace=True)

In [26]:
df['Anomaly'].value_counts()

Atrioventricular septal defect (AVSD)    37
Omphalocele                              37
Pulmonary valve atresia                  37
Patau syndrome/trisomy 13                37
Vascular disruption anomalies            37
                                         ..
Limb                                     37
Hydrocephalus                            37
Genital                                  37
Polydactyly                              37
Ear, face and neck                       37
Name: Anomaly, Length: 91, dtype: int64

In [27]:
df['Anomaly'].fillna(method='ffill', inplace=True)

In [28]:
df.isnull().sum()
#no null values left

1
Country / registry                                                         0
Anomaly                                                                    0
Years                                                                      0
Population                                                                 0
live_births                                                                0
still_births                                                               0
termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis    0
total_no_of_cases                                                          0
Total Prevalence (95% CI)                                                  0
LB Prevalence (95% CI)                                                     0
FD Prevalence (95% CI)                                                     0
TOPFA Prevalence (95% CI)                                                  0
LB Proportion (95% CI)                                                     0
still_birth_proportion_(95% CI)                                            0
TOPFA Proportion (95% CI)                                                  0
dtype: int64

In [29]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
#formating the column names to make them easier for analysis steps.

In [30]:
df.head()

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,total_prevalence_(95%_ci),lb_prevalence_(95%_ci),fd_prevalence_(95%_ci),topfa_prevalence_(95%_ci),lb_proportion_(95%_ci),still_birth_proportion_(95%_ci),topfa_proportion_(95%_ci)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,411.99 (374.11 - 452.66),372.98 (336.99 - 411.77),4.76 (1.51 - 11.14),34.25 (23.99 - 47.42),90.53% (87.41% - 92.94%),1.15% (0.49% - 2.67%),8.31% (6.07% - 11.30%)

In [31]:
df.dtypes
#shows incorrect dtypes have been allocated.

1
country_/_registry                                                         object
anomaly                                                                    object
years                                                                      object
population                                                                  int64
live_births                                                                object
still_births                                                               object
termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis    object
total_no_of_cases                                                          object
total_prevalence_(95%_ci)                                                  object
lb_prevalence_(95%_ci)                                                     object
fd_prevalence_(95%_ci)                                                     object
topfa_prevalence_(95%_ci)                                                  object
lb_proportion_(95%_ci)                                                     object
still_birth_proportion_(95%_ci)                                            object
topfa_proportion_(95%_ci)                                                  object
dtype: object

In [32]:
df['years'] = df['years'].astype(int)

### Removing foreign characters

* Removed confidence interval values that were in the brakcets, using RegEx, and kept the avarage values that were already stated.

In [33]:
df.columns = df.columns.map(lambda x: re.sub(r"\(.*\)", "", x))

In [34]:
df.head()

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,total_prevalence_,lb_prevalence_,fd_prevalence_,topfa_prevalence_,lb_proportion_,still_birth_proportion_,topfa_proportion_
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,411.99 (374.11 - 452.66),372.98 (336.99 - 411.77),4.76 (1.51 - 11.14),34.25 (23.99 - 47.42),90.53% (87.41% - 92.94%),1.15% (0.49% - 2.67%),8.31% (6.07% - 11.30%)

In [35]:
df['total_prevalence_'] = df['total_prevalence_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [36]:
df['lb_prevalence_'] = df['lb_prevalence_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [37]:
df['fd_prevalence_'] = df['fd_prevalence_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [38]:
df['topfa_prevalence_'] = df['topfa_prevalence_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [39]:
df['lb_proportion_'] = df['lb_proportion_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [40]:
df['still_birth_proportion_'] = df['still_birth_proportion_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [41]:
df['topfa_proportion_'] = df['topfa_proportion_'].apply(lambda x: re.sub(r"\(.*\)", "", x))

In [42]:
df.head()

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,total_prevalence_,lb_prevalence_,fd_prevalence_,topfa_prevalence_,lb_proportion_,still_birth_proportion_,topfa_proportion_
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85,314.39,4.66,30.79,89.87%,1.33%,8.80%
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,377.11,347.26,2.99,26.87,92.08%,0.79%,7.12%
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,387.21,350.11,6.66,30.44,90.42%,1.72%,7.86%
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,361.40,318.15,5.77,37.49,88.03%,1.60%,10.37%
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,411.99,372.98,4.76,34.25,90.53%,1.15%,8.31%

In [43]:
df[['lb_proportion_', 'still_birth_proportion_', 'topfa_proportion_']] = df[['lb_proportion_', 'still_birth_proportion_', 'topfa_proportion_']].applymap(lambda x: x.replace('%', ''))

In [44]:
df[['lb_proportion_', 'still_birth_proportion_', 'topfa_proportion_']] = df[['lb_proportion_', 'still_birth_proportion_', 'topfa_proportion_']].replace('-', 0)

### Removing unwanted columns

In [45]:
df.drop(columns = ['total_prevalence_', 'lb_prevalence_', 'fd_prevalence_', 'topfa_prevalence_'], inplace=True)

In [46]:
df.head(20)

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,lb_proportion_,still_birth_proportion_,topfa_proportion_
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,89.87,1.33,8.80
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,92.08,0.79,7.12
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,90.42,1.72,7.86
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,88.03,1.60,10.37
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,90.53,1.15,8.31
7,Styria - Austria,All Anomalies,2005,10473,357,3,41,401,89.03,0.75,10.22
8,Styria - Austria,All Anomalies,2006,10327,288,2,39,329,87.54,0.61,11.85
9,Styria - Austria,All Anomalies,2007,10209,231,4,47,282,81.91,1.42,16.67
10,Styria - Austria,All Anomalies,2008,10281,215,3,41,259,83.01,1.16,15.83
11,Styria - Austria,All Anomalies,2009,10235,240,12,38,290,82.76,4.14,13.10
12,Styria - Austria,All Anomalies,2010,10442,253,2,40,295,85.76,0.68,13.56
13,Styria - Austria,All Anomalies,2011,10226,226,2,38,266,84.96,0.75,14.29
14,Styria - Austria,All Anomalies,2012,10385,178,2,40,220,80.91,0.91,18.18
15,Styria - Austria,All Anomalies,2013,10338,194,2,59,255,76.08,0.78,23.14
16,Styria - Austria,All Anomalies,2014,10457,188,4,46,238,78.99,1.68,19.33
17,Styria - Austria,All Anomalies,2015,11176,164,4,48,216,75.93,1.85,22.22
18,Styria - Austria,All Anomalies,2016,11247,182,3,56,241,75.52,1.24,23.24
19,Styria - Austria,Nervous system,2000,10719,26,4,10,40,65.00,10.00,25.00
20,Styria - Austria,Nervous system,2001,10050,25,0,11,36,69.44,0,30.56
21,Styria - Austria,Nervous system,2002,10511,26,2,9,37,70.27,5.41,24.32

In [47]:
df.head(20)

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,lb_proportion_,still_birth_proportion_,topfa_proportion_
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,89.87,1.33,8.80
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,92.08,0.79,7.12
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,90.42,1.72,7.86
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,88.03,1.60,10.37
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,90.53,1.15,8.31
7,Styria - Austria,All Anomalies,2005,10473,357,3,41,401,89.03,0.75,10.22
8,Styria - Austria,All Anomalies,2006,10327,288,2,39,329,87.54,0.61,11.85
9,Styria - Austria,All Anomalies,2007,10209,231,4,47,282,81.91,1.42,16.67
10,Styria - Austria,All Anomalies,2008,10281,215,3,41,259,83.01,1.16,15.83
11,Styria - Austria,All Anomalies,2009,10235,240,12,38,290,82.76,4.14,13.10
12,Styria - Austria,All Anomalies,2010,10442,253,2,40,295,85.76,0.68,13.56
13,Styria - Austria,All Anomalies,2011,10226,226,2,38,266,84.96,0.75,14.29
14,Styria - Austria,All Anomalies,2012,10385,178,2,40,220,80.91,0.91,18.18
15,Styria - Austria,All Anomalies,2013,10338,194,2,59,255,76.08,0.78,23.14
16,Styria - Austria,All Anomalies,2014,10457,188,4,46,238,78.99,1.68,19.33
17,Styria - Austria,All Anomalies,2015,11176,164,4,48,216,75.93,1.85,22.22
18,Styria - Austria,All Anomalies,2016,11247,182,3,56,241,75.52,1.24,23.24
19,Styria - Austria,Nervous system,2000,10719,26,4,10,40,65.00,10.00,25.00
20,Styria - Austria,Nervous system,2001,10050,25,0,11,36,69.44,0,30.56
21,Styria - Austria,Nervous system,2002,10511,26,2,9,37,70.27,5.41,24.32

In [48]:
df[['live_births','still_births', 'termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis',
   'total_no_of_cases']].astype(int)

1,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases
2,337,5,33,375
3,349,3,27,379
4,368,7,32,407
5,331,6,39,376
6,392,5,36,433
...,...,...,...,...
57236,0,0,0,0
57237,0,0,0,0
57238,0,0,0,0
57239,0,0,0,0
57240,4,1,0,5

In [49]:
df[df['live_births'] == '0']

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,lb_proportion_,still_birth_proportion_,topfa_proportion_
47,Styria - Austria,Neural Tube Defects,2011,10226,0,0,2,2,0,0,100.00
49,Styria - Austria,Neural Tube Defects,2013,10338,0,0,8,8,0,0,100.00
53,Styria - Austria,Anencephalus and similar,2000,10719,0,1,2,3,0,33.33,66.67
54,Styria - Austria,Anencephalus and similar,2001,10050,0,0,3,3,0,0,100.00
55,Styria - Austria,Anencephalus and similar,2002,10511,0,0,2,2,0,0,100.00
...,...,...,...,...,...,...,...,...,...,...,...
57235,Yorkshire and Humber - United Kingdom ¹⁴,Klinefelter syndrome,2011,0,0,0,0,0,0,0,0
57236,Yorkshire and Humber - United Kingdom ¹⁴,Klinefelter syndrome,2012,0,0,0,0,0,0,0,0
57237,Yorkshire and Humber - United Kingdom ¹⁴,Klinefelter syndrome,2013,0,0,0,0,0,0,0,0
57238,Yorkshire and Humber - United Kingdom ¹⁴,Klinefelter syndrome,2014,0,0,0,0,0,0,0,0
57239,Yorkshire and Humber - United Kingdom ¹⁴,Klinefelter syndrome,2015,0,0,0,0,0,0,0,0

In [50]:
df = df[df['live_births'] != '0']

### Removing the superscript characters from Country/Registry

In [51]:
df['country_/_registry'].unique()

array(['Styria - Austria', 'Antwerp - Belgium', 'Hainaut - Belgium',
       'Pleven - Bulgaria', 'Zagreb - Croatia', 'Odense - Denmark',
       'Paris - France', 'Auvergne - France ²',
       'Isle de la Reunion - France ⁵', 'French West Indies - France ⁴',
       'Brittany - France ³', 'Saxony-Anhalt - Germany',
       'Mainz - Germany ⁶', 'Dublin - Ireland ⁷',
       'Cork and Kerry - Ireland', 'SE Ireland - Ireland',
       'Milan Area - Italy ⁸', 'Emilia Romagna - Italy',
       'Tuscany - Italy', 'Malta - Malta', 'N Netherlands - NL',
       'Norway - Norway', 'Wielkopolska - Poland',
       'S Portugal - Portugal', 'Basque Country - Spain',
       'Valencian Region - Spain ¹⁰', 'Navarre - Spain ⁹',
       'Vaud - Switzerland', 'Ukraine - Ukraine ¹¹',
       'Wales - United Kingdom', 'Thames Valley - United Kingdom',
       'Wessex - United Kingdom',
       'East Midlands & South Yorkshire - United Kingdom',
       'Northern England - United Kingdom',
       'South West England - United Kingdom ¹²',
       'West Midlands - United Kingdom ¹³',
       'Yorkshire and Humber - United Kingdom ¹⁴'], dtype=object)

In [52]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Auvergne - France ²', 'Auvergne - France'))

In [53]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Isle de la Reunion - France ⁵', 'Isle de la Reunion - France'))

In [54]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('French West Indies - France ⁴', 'French West Indies - France'))

In [55]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Brittany - France ³', 'Brittany - France'))

In [56]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Mainz - Germany ⁶', 'Mainz - Germany'))

In [57]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('N Netherlands - NL', 'Netherlands - NL'))

In [58]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Milan Area - Italy ⁸', 'Milan Area - Italy'))

In [59]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Dublin - Ireland ⁷', 'Dublin - Ireland'))

In [60]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Valencian Region - Spain ¹⁰', 'Valencian Region - Spain'))

In [61]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Navarre - Spain ⁹', 'Navarre - Spain'))

In [62]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Ukraine - Ukraine ¹¹', 'Ukraine - Ukraine'))

In [63]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('South West England - United Kingdom ¹²', 'South West England - United Kingdom'))

In [64]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('West Midlands - United Kingdom ¹³', 'West Midlands - United Kingdom'))

In [65]:
df['country_/_registry'] = df['country_/_registry'].map(lambda x: x.replace('Yorkshire and Humber - United Kingdom ¹⁴', 'Yorkshire and Humber - United Kingdom'))

In [66]:
df.head()

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,lb_proportion_,still_birth_proportion_,topfa_proportion_
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,89.87,1.33,8.80
3,Styria - Austria,All Anomalies,2001,10050,349,3,27,379,92.08,0.79,7.12
4,Styria - Austria,All Anomalies,2002,10511,368,7,32,407,90.42,1.72,7.86
5,Styria - Austria,All Anomalies,2003,10404,331,6,39,376,88.03,1.60,10.37
6,Styria - Austria,All Anomalies,2004,10510,392,5,36,433,90.53,1.15,8.31

### Feature Engineering - New column 'Country'

In [67]:
df['country'] = df['country_/_registry'].str.split('-', 1).str[1]

In [68]:
df.tail()

1,country_/_registry,anomaly,years,population,live_births,still_births,termination_of_pregnancy_for_fetal_anomaly_following_prenatal_diagnosis,total_no_of_cases,lb_proportion_,still_birth_proportion_,topfa_proportion_,country
57172,Yorkshire and Humber - United Kingdom,Down Syndrome,2016,44416,60,4,44,108,55.56,3.70,40.74,United Kingdom
57189,Yorkshire and Humber - United Kingdom,Patau syndrome/trisomy 13,2016,44416,1,1,14,16,6.25,6.25,87.50,United Kingdom
57206,Yorkshire and Humber - United Kingdom,Edward syndrome/trisomy 18,2016,44416,4,5,23,32,12.50,15.63,71.88,United Kingdom
57223,Yorkshire and Humber - United Kingdom,Turner syndrome,2016,44416,4,0,10,14,28.57,0,71.43,United Kingdom
57240,Yorkshire and Humber - United Kingdom,Klinefelter syndrome,2016,44416,4,1,0,5,80.00,20.00,0,United Kingdom

In [69]:
df['country'].unique()

array([' Austria', ' Belgium', ' Bulgaria', ' Croatia', ' Denmark',
       ' France', 'Anhalt - Germany', ' Germany', ' Ireland', ' Italy',
       ' Malta', ' NL', ' Norway', ' Poland', ' Portugal', ' Spain',
       ' Switzerland', ' Ukraine', ' United Kingdom'], dtype=object)

In [70]:
df['country'] = df['country'].str.strip(' ')

In [71]:
df['country'] = df['country'].map(lambda x: x.replace('NL', 'Netherlands'))

In [72]:
df['country'] = df['country'].map(lambda x: x.replace('Anhalt - Germany', 'Germany'))

In [73]:
df['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Denmark', 'France',
       'Germany', 'Ireland', 'Italy', 'Malta', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Spain', 'Switzerland', 'Ukraine',
       'United Kingdom'], dtype=object)

### 2. Importing second dataset - GDP information of each country (further feature engineering)

In [74]:
gdp = pd.read_csv('/Users/dayosangowawa/Downloads/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3469429 (1)/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3469429.csv', skiprows=1)

In [75]:
gdp.shape

(267, 3)

In [76]:
gdp.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Last Updated Date,2021-12-16,Unnamed: 2
Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,1.966000e+03,1.967000e+03,1.968000e+03,1.969000e+03,1.970000e+03,1.971000e+03,1.972000e+03,1.973000e+03,1.974000e+03,1.975000e+03,1.976000e+03,1.977000e+03,1.978000e+03,1.979000e+03,1.980000e+03,1.981000e+03,1.982000e+03,1.983000e+03,1.984000e+03,1.985000e+03,1.986000e+03,1.987000e+03,1.988000e+03,1.989000e+03,1.990000e+03,1.991000e+03,1.992000e+03,1.993000e+03,1.994000e+03,1.995000e+03,1.996000e+03,1.997000e+03,1.998000e+03,1.999000e+03,2.000000e+03,2.001000e+03,2.002000e+03,2.003000e+03,2.004000e+03,2.005000e+03,2.006000e+03,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,NaN
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.054634e+08,4.876025e+08,5.964236e+08,6.953044e+08,7.648871e+08,8.721387e+08,9.584632e+08,1.082980e+09,1.245688e+09,1.320475e+09,1.379961e+09,1.531944e+09,1.665101e+09,1.722799e+09,1.873453e+09,1.920112e+09,1.941341e+09,2.021229e+09,2.228492e+09,2.330726e+09,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,2.913154e+10,3.015183e+10,3.285380e+10,3.771765e+10,4.028726e+10,4.444520e+10,4.826732e+10,6.293895e+10,7.819553e+10,8.337654e+10,8.315156e+10,9.492175e+10,1.062709e+11,1.244102e+11,1.564020e+11,1.602646e+11,1.545599e+11,1.596445e+11,1.459186e+11,1.303476e+11,1.469212e+11,1.796123e+11,1.888696e+11,1.944057e+11,2.121858e+11,2.206075e+11,2.200630e+11,2.338696e+11,2.389192e+11,2.694986e+11,2.682505e+11,2.820139e+11,2.656497e+11,2.620117e+11,2.837516e+11,2.586601e+11,2.647076e+11,3.524426e+11,4.385651e+11,5.118975e+11,5.755688e+11,6.607745e+11,7.078532e+11,7.120539e+11,8.468100e+11,9.427109e+11,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11,9.842556e+11,1.011723e+12,1.008375e+12,9.188155e+11,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155555e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09,6.971286e+09,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,1.583285e+10,1.442643e+10,1.488035e+10,1.688209e+10,2.350461e+10,2.083282e+10,2.526496e+10,3.127382e+10,4.421449e+10,5.144474e+10,6.212940e+10,6.531501e+10,7.119972e+10,8.862841e+10,1.120313e+11,2.110035e+11,1.871637e+11,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,1.089435e+11,1.017688e+11,1.218022e+11,1.174570e+11,1.182823e+11,9.882641e+10,8.628177e+10,1.082213e+11,1.257630e+11,1.270639e+11,1.301068e+11,1.375202e+11,1.404080e+11,1.480120e+11,1.769334e+11,2.046419e+11,2.540903e+11,3.105543e+11,3.932967e+11,4.617776e+11,5.664257e+11,5.069964e+11,5.915830e+11,6.709626e+11,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN

In [77]:
gdp = gdp.reset_index()

In [78]:
gdp.head()

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,...,level_56,level_57,level_58,level_59,level_60,level_61,level_62,Last Updated Date,2021-12-16,Unnamed: 2
0,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,NaN
1,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11,9.842556e+11,1.011723e+12,1.008375e+12,9.188155e+11,NaN
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
4,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN

In [79]:
gdp.columns = gdp.iloc[0]

In [80]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,NaN
0,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,NaN
1,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11,9.842556e+11,1.011723e+12,1.008375e+12,9.188155e+11,NaN
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
4,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN

In [81]:
gdp.shape

(267, 66)

In [82]:
gdp.drop([0], axis=0, inplace=True)

#dropped the first row

In [83]:
gdp.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,              nan],
      dtype='object', name=0)

In [84]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,NaN
1,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11,9.842556e+11,1.011723e+12,1.008375e+12,9.188155e+11,NaN
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
4,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
5,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN

In [85]:
gdp.columns.astype(str)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990.0', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0',
       '2009.0', '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0',
       '2016.0', '2017.0', '2018.0', '2019.0', '2020.0', 'nan'],
      dtype='object', name=0)

### Acquiring only the years I need

In [86]:
gdp = gdp[['Country Name', 2000.0, 2001.0,
       2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0,
       2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0,
       2016.0]]

#the only years we need (to correlate with the orginal anomalies dataframe above), so I dropped the rest.

In [87]:
gdp.head()

,Country Name,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
1,Aruba,1.873453e+09,1.920112e+09,1.941341e+09,2.021229e+09,2.228492e+09,2.330726e+09,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09
2,Africa Eastern and Southern,2.837516e+11,2.586601e+11,2.647076e+11,3.524426e+11,4.385651e+11,5.118975e+11,5.755688e+11,6.607745e+11,7.078532e+11,7.120539e+11,8.468100e+11,9.427109e+11,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11
3,Afghanistan,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09,6.971286e+09,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10
4,Africa Western and Central,1.404080e+11,1.480120e+11,1.769334e+11,2.046419e+11,2.540903e+11,3.105543e+11,3.932967e+11,4.617776e+11,5.664257e+11,5.069964e+11,5.915830e+11,6.709626e+11,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11
5,Angola,9.129635e+09,8.936064e+09,1.528559e+10,1.781271e+10,2.355205e+10,3.697092e+10,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11

In [88]:
gdp.rename(columns={'Country Name': 'country_name'}, inplace=True)
#formating the column names to make them easier for analysis steps.

### Acquiring just the countries I need

In [89]:
gdp['country_name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [90]:
df['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Denmark', 'France',
       'Germany', 'Ireland', 'Italy', 'Malta', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Spain', 'Switzerland', 'Ukraine',
       'United Kingdom'], dtype=object)

In [91]:
# for country in df['country']:
#     for country_1 in gdp['country_name']:
#         if country == country_1:
#             display(gdp)

In [93]:
gdp[(gdp['country_name'] == 'Austria') | (gdp['country_name'] == 'Belgium') 
   | (gdp['country_name'] == 'Bulgaria') | (gdp['country_name'] == 'Austria')
    | (gdp['country_name'] == 'Croatia') | (gdp['country_name'] == 'Denmark')
    | (gdp['country_name'] == 'France')]

,country_name,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
15,Austria,1.967998e+11,1.973379e+11,2.133778e+11,2.616958e+11,3.009042e+11,3.159744e+11,3.359986e+11,3.886914e+11,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.419961e+11,3.818176e+11,3.955686e+11
18,Belgium,2.362045e+11,2.365413e+11,2.571578e+11,3.173817e+11,3.685370e+11,3.855709e+11,4.079181e+11,4.703243e+11,5.152235e+11,4.813459e+11,4.809516e+11,5.226455e+11,4.961813e+11,5.216427e+11,5.346781e+11,4.621497e+11,4.757396e+11
22,Bulgaria,1.324583e+10,1.418350e+10,1.640285e+10,2.114498e+10,2.615789e+10,2.986928e+10,3.437981e+10,4.440510e+10,5.443897e+10,5.202350e+10,5.068206e+10,5.767824e+10,5.430086e+10,5.581014e+10,5.708201e+10,5.078200e+10,5.395390e+10
59,Denmark,1.641587e+11,1.647914e+11,1.786352e+11,2.180960e+11,2.513730e+11,2.644673e+11,2.828849e+11,3.194234e+11,3.533610e+11,3.212413e+11,3.219953e+11,3.440031e+11,3.271489e+11,3.435844e+11,3.529936e+11,3.026731e+11,3.131159e+11
78,France,1.362249e+12,1.376465e+12,1.494287e+12,1.840481e+12,2.115742e+12,2.196126e+12,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,2.471286e+12
100,Croatia,2.183978e+10,2.327364e+10,2.707455e+10,3.498575e+10,4.195883e+10,4.578024e+10,5.086079e+10,6.054267e+10,7.075065e+10,6.308400e+10,6.042602e+10,6.316991e+10,5.719235e+10,5.888908e+10,5.833029e+10,5.016319e+10,5.229516e+10