## EU Commission dataset on congenital anomalies

Analysing real-world data sourced from the EU registries of congenital anomalies.

In [140]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1.5)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [141]:
df = pd.DataFrame(pd.read_excel("/Users/dayosangowawa/Downloads/dataset.xlsx"))

In [142]:
df.head()

,"Number of cases, prevalence per 10,000 births and proportion of the following anomalies: All Anomalies, Nervous system, Neural Tube Defects, Anencephalus and similar, Encephalocele, Spina Bifida, Hydrocephalus, Severe microcephaly, Arhinencephaly/holoprosencephaly, Eye, Anophthalmos/micropthalmos, Anophthalmos, Congenital cataract, Congenital glaucoma, Ear, face and neck, Anotia, Congenital heart defects, Common arterial truncus, Transposition of great vessels, Single ventricle, Ventricular septal defect (VSD), Atrial septal defect (ASD), Atrioventricular septal defect (AVSD), Tetralogy of Fallot, Tricuspid atresia and stenosis, Ebstein's anomaly, Pulmonary valve stenosis, Pulmonary valve atresia, Aortic valve atresia/stenosis, Hypoplastic left heart, Hypoplastic right heart, Coarctation of aorta, Total anomalous pulm venous return, Respiratory, Choanal atresia, Cystic adenomatous malf of lung, Digestive system, Oesophageal atresia with or without tracheo-oesophageal fistula, Duodenal atresia or stenosis, Atresia or stenosis of other parts of small intestine, Ano-rectal atresia and stenosis, Hirschsprung's disease, Atresia of bile ducts, Annular pancreas, Diaphragmatic hernia, Abdominal wall defects, Gastroschisis, Omphalocele, Urinary, Bilateral renal agenesis including Potter syndrome, Multicystic renal dysplasia, Congenital hydronephrosis, Bladder exstrophy and/or epispadia, Posterior urethral valve and/or prune belly, Genital, Hypospadias, Indeterminate sex, Limb, Limb reduction defects, Club foot - talipes equinovarus, Hip dislocation and/or dysplasia, Polydactyly, Syndactyly, Craniosynostosis, Congenital constriction bands/amniotic band, Situs inversus, Conjoined twins, Congenital skin disorders, Teratogenic syndromes with malformations, Fetal alcohol syndrome, Valproate syndrome, Maternal infections resulting in malformations, Chromosomal, Down Syndrome, Patau syndrome/trisomy 13, Edward syndrome/trisomy 18, Turner syndrome, Klinefelter syndrome, Severe CHD, PDA as only CHD in term infants (>=37 weeks), Oro-facial clefts, Cleft lip with or without palate, Cleft palate, Skeletal dysplasias, Genetic syndromes + microdeletions, Double outlet right ventricle, Mitral valve anomalies, Aortic atresia/interrupted aortic arch, VATER/VACTERL, Vascular disruption anomalies, Lateral anomalies for all full registries from 2000 - 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)

In [143]:
df.shape

(57270, 15)

In [144]:
df = df.iloc[1:]

In [145]:
df.head()

,"Number of cases, prevalence per 10,000 births and proportion of the following anomalies: All Anomalies, Nervous system, Neural Tube Defects, Anencephalus and similar, Encephalocele, Spina Bifida, Hydrocephalus, Severe microcephaly, Arhinencephaly/holoprosencephaly, Eye, Anophthalmos/micropthalmos, Anophthalmos, Congenital cataract, Congenital glaucoma, Ear, face and neck, Anotia, Congenital heart defects, Common arterial truncus, Transposition of great vessels, Single ventricle, Ventricular septal defect (VSD), Atrial septal defect (ASD), Atrioventricular septal defect (AVSD), Tetralogy of Fallot, Tricuspid atresia and stenosis, Ebstein's anomaly, Pulmonary valve stenosis, Pulmonary valve atresia, Aortic valve atresia/stenosis, Hypoplastic left heart, Hypoplastic right heart, Coarctation of aorta, Total anomalous pulm venous return, Respiratory, Choanal atresia, Cystic adenomatous malf of lung, Digestive system, Oesophageal atresia with or without tracheo-oesophageal fistula, Duodenal atresia or stenosis, Atresia or stenosis of other parts of small intestine, Ano-rectal atresia and stenosis, Hirschsprung's disease, Atresia of bile ducts, Annular pancreas, Diaphragmatic hernia, Abdominal wall defects, Gastroschisis, Omphalocele, Urinary, Bilateral renal agenesis including Potter syndrome, Multicystic renal dysplasia, Congenital hydronephrosis, Bladder exstrophy and/or epispadia, Posterior urethral valve and/or prune belly, Genital, Hypospadias, Indeterminate sex, Limb, Limb reduction defects, Club foot - talipes equinovarus, Hip dislocation and/or dysplasia, Polydactyly, Syndactyly, Craniosynostosis, Congenital constriction bands/amniotic band, Situs inversus, Conjoined twins, Congenital skin disorders, Teratogenic syndromes with malformations, Fetal alcohol syndrome, Valproate syndrome, Maternal infections resulting in malformations, Chromosomal, Down Syndrome, Patau syndrome/trisomy 13, Edward syndrome/trisomy 18, Turner syndrome, Klinefelter syndrome, Severe CHD, PDA as only CHD in term infants (>=37 weeks), Oro-facial clefts, Cleft lip with or without palate, Cleft palate, Skeletal dysplasias, Genetic syndromes + microdeletions, Double outlet right ventricle, Mitral valve anomalies, Aortic atresia/interrupted aortic arch, VATER/VACTERL, Vascular disruption anomalies, Lateral anomalies for all full registries from 2000 - 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)

In [146]:
df.columns = df.iloc[0]

In [147]:
df.head()

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)

In [148]:
df.shape

(57269, 15)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57269 entries, 1 to 57269
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country / registry         62 non-null     object
 1   Anomaly ^                  3386 non-null   object
 2   Years                      57240 non-null  object
 3   Population                 57240 non-null  object
 4   LB N                       57240 non-null  object
 5   FD N                       57240 non-null  object
 6   TOPFA N                    57240 non-null  object
 7   Total N                    57240 non-null  object
 8   Total Prevalence (95% CI)  57240 non-null  object
 9   LB Prevalence (95% CI)     57240 non-null  object
 10  FD Prevalence (95% CI)     57240 non-null  object
 11  TOPFA Prevalence (95% CI)  57240 non-null  object
 12  LB Proportion (95% CI)     57240 non-null  object
 13  FD Proportion (95% CI)     57240 non-null  object
 14  TOPFA Proportion (95% CI)  57240 non-null  object
dtypes: object(15)
memory usage: 6.6+ MB

In [150]:
df.describe()

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
count,62,3386,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240,57240
unique,62,110,18,507,580,50,248,659,14430,12560,1894,6099,3970,1728,3633
top,¹² United Kingdom,Nervous system,2008,0,0,0,0,0,-,-,-,-,-,-,-
freq,1,37,3367,10647,22857,48304,37208,19795,19795,22857,48304,37208,22857,48304,37208

In [151]:
df.head()

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)

In [152]:
df['Anomaly ^'].unique()

array(['Anomaly ^', 'All Anomalies', nan, 'Nervous system',
       'Neural Tube Defects', 'Anencephalus and similar', 'Encephalocele',
       'Spina Bifida', 'Hydrocephalus', 'Severe microcephaly',
       'Arhinencephaly/holoprosencephaly', 'Eye',
       'Anophthalmos/micropthalmos', 'Anophthalmos',
       'Congenital cataract', 'Congenital glaucoma', 'Ear, face and neck',
       'Anotia', 'Congenital heart defects', 'Severe CHD',
       'Common arterial truncus', 'Double outlet right ventricle',
       'Transposition of great vessels', 'Single ventricle',
       'Ventricular septal defect (VSD)', 'Atrial septal defect (ASD)',
       'Atrioventricular septal defect (AVSD)', 'Tetralogy of Fallot',
       'Tricuspid atresia and stenosis', "Ebstein's anomaly",
       'Pulmonary valve stenosis', 'Pulmonary valve atresia',
       'Aortic valve atresia/stenosis', 'Mitral valve anomalies',
       'Hypoplastic left heart', 'Hypoplastic right heart',
       'Coarctation of aorta', 'Aortic atresia/interrupted aortic arch',
       'Total anomalous pulm venous return',
       'PDA as only CHD in term infants (>=37 weeks)', 'Respiratory',
       'Choanal atresia', 'Cystic adenomatous malf of lung',
       'Oro-facial clefts', 'Cleft lip with or without palate',
       'Cleft palate', 'Digestive system',
       'Oesophageal atresia with or without tracheo-oesophageal fistula',
       'Duodenal atresia or stenosis',
       'Atresia or stenosis of other parts of small intestine',
       'Ano-rectal atresia and stenosis', "Hirschsprung's disease",
       'Atresia of bile ducts', 'Annular pancreas',
       'Diaphragmatic hernia', 'Abdominal wall defects', 'Gastroschisis',
       'Omphalocele', 'Urinary',
       'Bilateral renal agenesis including Potter syndrome',
       'Multicystic renal dysplasia', 'Congenital hydronephrosis',
       'Bladder exstrophy and/or epispadia',
       'Posterior urethral valve and/or prune belly', 'Genital',
       'Hypospadias', 'Indeterminate sex', 'Limb',
       'Limb reduction defects', 'Club foot - talipes equinovarus',
       'Hip dislocation and/or dysplasia', 'Polydactyly', 'Syndactyly',
       'Skeletal dysplasias', 'Craniosynostosis',
       'Congenital constriction bands/amniotic band', 'Situs inversus',
       'Conjoined twins', 'Congenital skin disorders', 'VATER/VACTERL',
       'Vascular disruption anomalies', 'Lateral anomalies',
       'Teratogenic syndromes with malformations',
       'Fetal alcohol syndrome', 'Valproate syndrome',
       'Maternal infections resulting in malformations',
       'Genetic syndromes + microdeletions', 'Chromosomal',
       'Down Syndrome', 'Patau syndrome/trisomy 13',
       'Edward syndrome/trisomy 18', 'Turner syndrome',
       'Klinefelter syndrome',
       'Pleven - Bulgaria (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007)',
       'Auvergne - France (2000, 2001)',
       'Brittany - France (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010)',
       'French West Indies - France (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008)',
       'Isle de la Reunion - France (2000, 2001)',
       'Mainz - Germany (2015, 2016)',
       'Dublin - Ireland (2013, 2014, 2015, 2016)',
       'Milan Area - Italy (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011)',
       'Navarre - Spain (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012)',
       'Valencian Region - Spain (2000, 2001, 2002, 2003, 2004, 2005, 2006)',
       'Ukraine - Ukraine (2000, 2001, 2002, 2003, 2004)',
       'South West England - United Kingdom (2000, 2001, 2002, 2003, 2004)',
       'West Midlands - United Kingdom (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015)',
       'Yorkshire and Humber - United Kingdom (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015)',
       'European Platform on Rare Diseases Registration',
       'From https://eu-rd-platform.jrc.ec.europa.eu/eurocat/eurocat-data/prevalence/export/, accessed on 11/1/2022',
       'Data uploaded 28/05/2021', 'European Union, 2022'], dtype=object)

In [153]:
df[df['Anomaly ^']=='Milan Area - Italy (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011)']

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
57258,⁸ Italy,"Milan Area - Italy (2000, 2001, 2002, 2003, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df['Country / registry'].unique()

array(['Country / registry', 'Styria - Austria', nan, 'Antwerp - Belgium',
       'Hainaut - Belgium', 'Pleven - Bulgaria ¹', 'Zagreb - Croatia',
       'Odense - Denmark', 'Paris - France', 'Auvergne - France ²',
       'Isle de la Reunion - France ⁵', 'French West Indies - France ⁴',
       'Brittany - France ³', 'Saxony-Anhalt - Germany',
       'Mainz - Germany ⁶', 'Dublin - Ireland ⁷',
       'Cork and Kerry - Ireland', 'SE Ireland - Ireland',
       'Milan Area - Italy ⁸', 'Emilia Romagna - Italy',
       'Tuscany - Italy', 'Malta - Malta', 'N Netherlands - NL',
       'Norway - Norway', 'Wielkopolska - Poland',
       'S Portugal - Portugal', 'Basque Country - Spain',
       'Valencian Region - Spain ¹⁰', 'Navarre - Spain ⁹',
       'Vaud - Switzerland', 'Ukraine - Ukraine ¹¹',
       'Wales - United Kingdom', 'Thames Valley - United Kingdom',
       'Wessex - United Kingdom',
       'East Midlands & South Yorkshire - United Kingdom',
       'Northern England - United Kingdom',
       'South West England - United Kingdom ¹²',
       'West Midlands - United Kingdom ¹³',
       'Yorkshire and Humber - United Kingdom ¹⁴', 'LB = Live Births',
       'FD = Fetal Deaths / Still Births from 20 weeks gestation',
       'TOPFA = Termination of pregnancy for fetal anomaly following prenatal diagnosis',
       '^ = The number of cases in each congenital anomaly subgroup is NOT the number of isolated cases. In particular the outcome, such as fetal deaths (FD) or terminations (TOPFA), for seemingly less severe anomalies may have occurred as the case had other more severe major anomalies.',
       '+ = Live birth denominator is not available and has been substituted by the total number of births (live births + still births)',
       '- = Data not available',
       '§ = Incomplete or missing specification of ICD 9 codes',
       'Data is not available for the following years/registries:',
       '¹ Bulgaria', '² France', '³ France', '⁴ France', '⁵ France',
       '⁶ Germany', '⁷ Ireland', '⁸ Italy', '⁹ Spain', '¹⁰ Spain',
       '¹¹ Ukraine', '¹² United Kingdom', '¹³ United Kingdom',
       '¹⁴ United Kingdom', 'Source:', 'Copyright:'], dtype=object)

In [155]:
df.tail(40)

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
57230,NaN,NaN,2006,0,0,0,0,0,-,-,-,-,-,-,-
57231,NaN,NaN,2007,0,0,0,0,0,-,-,-,-,-,-,-
57232,NaN,NaN,2008,0,0,0,0,0,-,-,-,-,-,-,-
57233,NaN,NaN,2009,0,0,0,0,0,-,-,-,-,-,-,-
57234,NaN,NaN,2010,0,0,0,0,0,-,-,-,-,-,-,-
57235,NaN,NaN,2011,0,0,0,0,0,-,-,-,-,-,-,-
57236,NaN,NaN,2012,0,0,0,0,0,-,-,-,-,-,-,-
57237,NaN,NaN,2013,0,0,0,0,0,-,-,-,-,-,-,-
57238,NaN,NaN,2014,0,0,0,0,0,-,-,-,-,-,-,-
57239,NaN,NaN,2015,0,0,0,0,0,-,-,-,-,-,-,-
57240,NaN,NaN,2016,44416,4,1,0,5,1.13 (0.36 - 2.64),0.90 (0.24 - 2.32),0.23 (0.00 - 1.28),-,80.00% (37.55% - 96.38%),20.00% (3.62% - 62.45%),-
57241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57242,LB = Live Births,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57243,FD = Fetal Deaths / Still Births from 20 weeks...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57244,TOPFA = Termination of pregnancy for fetal ano...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57245,^ = The number of cases in each congenital ano...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57246,+ = Live birth denominator is not available an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57247,- = Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57248,§ = Incomplete or missing specification of ICD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57250,Data is not available for the following years/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57251,¹ Bulgaria,"Pleven - Bulgaria (2000, 2001, 2002, 2003, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57252,² France,"Auvergne - France (2000, 2001)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57253,³ France,"Brittany - France (2000, 2001, 2002, 2003, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57254,⁴ France,"French West Indies - France (2000, 2001, 2002,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57255,⁵ France,"Isle de la Reunion - France (2000, 2001)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57256,⁶ Germany,"Mainz - Germany (2015, 2016)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57257,⁷ Ireland,"Dublin - Ireland (2013, 2014, 2015, 2016)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57258,⁸ Italy,"Milan Area - Italy (2000, 2001, 2002, 2003, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57259,⁹ Spain,"Navarre - Spain (2000, 2001, 2002, 2003, 2004,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57260,¹⁰ Spain,"Valencian Region - Spain (2000, 2001, 2002, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57261,¹¹ Ukraine,"Ukraine - Ukraine (2000, 2001, 2002, 2003, 2004)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57262,¹² United Kingdom,"South West England - United Kingdom (2000, 200...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57263,¹³ United Kingdom,"West Midlands - United Kingdom (2000, 2001, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57264,¹⁴ United Kingdom,"Yorkshire and Humber - United Kingdom (2000, 2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57266,Source:,European Platform on Rare Diseases Registration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57267,NaN,From https://eu-rd-platform.jrc.ec.europa.eu/e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57268,NaN,Data uploaded 28/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57269,Copyright:,"European Union, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
df = df.iloc[:57240]

In [157]:
df['Country / registry'].value_counts()

Wessex - United Kingdom                             1
SE Ireland - Ireland                                1
Country / registry                                  1
Norway - Norway                                     1
S Portugal - Portugal                               1
Vaud - Switzerland                                  1
Yorkshire and Humber - United Kingdom ¹⁴            1
Antwerp - Belgium                                   1
Hainaut - Belgium                                   1
Tuscany - Italy                                     1
West Midlands - United Kingdom ¹³                   1
Navarre - Spain ⁹                                   1
French West Indies - France ⁴                       1
Thames Valley - United Kingdom                      1
Wales - United Kingdom                              1
Paris - France                                      1
Auvergne - France ²                                 1
Milan Area - Italy ⁸                                1
N Netherlands - NL                                  1
Pleven - Bulgaria ¹                                 1
Northern England - United Kingdom                   1
Cork and Kerry - Ireland                            1
East Midlands & South Yorkshire - United Kingdom    1
Basque Country - Spain                              1
Brittany - France ³                                 1
Saxony-Anhalt - Germany                             1
Valencian Region - Spain ¹⁰                         1
Malta - Malta                                       1
Emilia Romagna - Italy                              1
Mainz - Germany ⁶                                   1
Dublin - Ireland ⁷                                  1
South West England - United Kingdom ¹²              1
Styria - Austria                                    1
Odense - Denmark                                    1
Zagreb - Croatia                                    1
Wielkopolska - Poland                               1
Ukraine - Ukraine ¹¹                                1
Isle de la Reunion - France ⁵                       1
Name: Country / registry, dtype: int64

In [158]:
[lambda x: x.apply('Styria - Austria') if x == 'NaN' in df['Country / registry'] else 'Styria - Austria']

In [160]:
df = df[1:]

In [161]:
df.head(30)

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)
3,NaN,NaN,2001,10050,349,3,27,379,377.11 (340.12 - 417.04),347.26 (311.80 - 385.66),2.99 (0.57 - 8.78),26.87 (17.70 - 39.09),92.08% (88.92% - 94.40%),0.79% (0.27% - 2.30%),7.12% (4.94% - 10.17%)
4,NaN,NaN,2002,10511,368,7,32,407,387.21 (350.53 - 426.70),350.11 (315.27 - 387.75),6.66 (2.65 - 13.75),30.44 (20.83 - 42.98),90.42% (87.17% - 92.91%),1.72% (0.84% - 3.51%),7.86% (5.62% - 10.89%)
5,NaN,NaN,2003,10404,331,6,39,376,361.40 (325.81 - 399.82),318.15 (284.81 - 354.32),5.77 (2.09 - 12.58),37.49 (26.66 - 51.24),88.03% (84.36% - 90.93%),1.60% (0.73% - 3.44%),10.37% (7.68% - 13.87%)
6,NaN,NaN,2004,10510,392,5,36,433,411.99 (374.11 - 452.66),372.98 (336.99 - 411.77),4.76 (1.51 - 11.14),34.25 (23.99 - 47.42),90.53% (87.41% - 92.94%),1.15% (0.49% - 2.67%),8.31% (6.07% - 11.30%)
7,NaN,NaN,2005,10473,357,3,41,401,382.89 (346.35 - 422.24),340.88 (306.45 - 378.12),2.86 (0.55 - 8.42),39.15 (28.10 - 53.10),89.03% (85.59% - 91.72%),0.75% (0.25% - 2.18%),10.22% (7.63% - 13.58%)
8,NaN,NaN,2006,10327,288,2,39,329,318.58 (285.11 - 354.92),278.88 (247.62 - 313.00),1.94 (0.19 - 7.06),37.77 (26.86 - 51.62),87.54% (83.53% - 90.68%),0.61% (0.17% - 2.19%),11.85% (8.79% - 15.79%)
9,NaN,NaN,2007,10209,231,4,47,282,276.23 (244.95 - 310.40),226.27 (198.05 - 257.39),3.92 (1.03 - 10.07),46.04 (33.83 - 61.21),81.91% (77.00% - 85.97%),1.42% (0.55% - 3.59%),16.67% (12.77% - 21.46%)
10,NaN,NaN,2008,10281,215,3,41,259,251.92 (222.19 - 284.53),209.12 (182.12 - 239.01),2.92 (0.56 - 8.58),39.88 (28.62 - 54.10),83.01% (77.96% - 87.09%),1.16% (0.39% - 3.35%),15.83% (11.89% - 20.77%)
11,NaN,NaN,2009,10235,240,12,38,290,283.34 (251.69 - 317.88),234.49 (205.78 - 266.09),11.72 (6.04 - 20.49),37.13 (26.28 - 50.96),82.76% (77.99% - 86.67%),4.14% (2.38% - 7.09%),13.10% (9.70% - 17.47%)
12,NaN,NaN,2010,10442,253,2,40,295,282.51 (251.21 - 316.64),242.29 (213.37 - 274.04),1.92 (0.19 - 6.98),38.31 (27.37 - 52.16),85.76% (81.31% - 89.29%),0.68% (0.19% - 2.44%),13.56% (10.12% - 17.94%)
13,NaN,NaN,2011,10226,226,2,38,266,260.12 (229.82 - 293.32),221.01 (193.15 - 251.76),1.96 (0.19 - 7.13),37.16 (26.30 - 51.00),84.96% (80.17% - 88.76%),0.75% (0.21% - 2.70%),14.29% (10.59% - 19.00%)
14,NaN,NaN,2012,10385,178,2,40,220,211.84 (184.79 - 241.75),171.40 (147.16 - 198.50),1.93 (0.19 - 7.02),38.52 (27.52 - 52.45),80.91% (75.20% - 85.55%),0.91% (0.25% - 3.25%),18.18% (13.65% - 23.81%)
15,NaN,NaN,2013,10338,194,2,59,255,246.66 (217.33 - 278.85),187.66 (162.20 - 215.99),1.93 (0.19 - 7.05),57.07 (43.45 - 73.61),76.08% (70.48% - 80.90%),0.78% (0.22% - 2.81%),23.14% (18.38% - 28.69%)
16,NaN,NaN,2014,10457,188,4,46,238,227.60 (199.62 - 258.41),179.78 (155.02 - 207.39),3.83 (1.00 - 9.84),43.99 (32.21 - 58.67),78.99% (73.38% - 83.69%),1.68% (0.66% - 4.24%),19.33% (14.81% - 24.82%)
17,NaN,NaN,2015,11176,164,4,48,216,193.27 (168.37 - 220.82),146.74 (125.16 - 170.99),3.58 (0.94 - 9.20),42.95 (31.67 - 56.94),75.93% (69.80% - 81.14%),1.85% (0.72% - 4.66%),22.22% (17.19% - 28.22%)
18,NaN,NaN,2016,11247,182,3,56,241,214.28 (188.10 - 243.09),161.82 (139.18 - 187.10),2.67 (0.51 - 7.84),49.79 (37.62 - 64.65),75.52% (69.72% - 80.52%),1.24% (0.42% - 3.60%),23.24% (18.35% - 28.96%)
19,NaN,Nervous system,2000,10719,26,4,10,40,37.32 (26.66 - 50.81),24.26 (15.84 - 35.54),3.73 (0.98 - 9.60),9.33 (4.46 - 17.17),65.00% (49.51% - 77.87%),10.00% (3.96% - 23.05%),25.00% (14.19% - 40.19%)
20,NaN,NaN,2001,10050,25,0,11,36,35.82 (25.09 - 49.59),24.88 (16.10 - 36.72),-,10.95 (5.45 - 19.60),69.44% (53.14% - 82.00%),-,30.56% (18.00% - 46.86%)
21,NaN,NaN,2002,10511,26,2,9,37,35.20 (24.79 - 48.52),24.74 (16.16 - 36.25),1.90 (0.19 - 6.94),8.56 (3.89 - 16.27),70.27% (54.22% - 82.51%),5.41% (1.50% - 17.70%),24.32% (13.36% - 40.12%)
22,NaN,NaN,2003,10404,24,4,15,43,41.33 (29.92 - 55.67),23.07 (14.78 - 34.33),3.84 (1.01 - 9.89),14.42 (8.06 - 23.79),55.81% (41.11% - 69.57%),9.30% (3.68% - 21.60%),34.88% (22.42% - 49.83%)
23,NaN,NaN,2004,10510,32,0,10,42,39.96 (28.81 - 54.01),30.45 (20.83 - 42.98),-,9.51 (4.54 - 17.52),76.19% (61.47% - 86.52%),-,23.81% (13.48% - 38.53%)
24,NaN,NaN,2005,10473,24,2,14,40,38.19 (27.29 - 52.00),22.92 (14.68 - 34.10),1.91 (0.19 - 6.96),13.37 (7.30 - 22.44),60.00% (44.60% - 73.65%),5.00% (1.38% - 16.50%),35.00% (22.13% - 50.49%)
25,NaN,NaN,2006,10327,21,2,6,29,28.08 (18.81 - 40.33),20.34 (12.58 - 31.09),1.94 (0.19 - 7.06),5.81 (2.10 - 12.68),72.41% (54.28% - 85.30%),6.90% (1.91% - 21.96%),20.69% (9.85% - 38.39%)
26,NaN,NaN,2007,10209,13,2,13,28,27.43 (18.22 - 39.64),12.73 (6.77 - 21.79),1.96 (0.19 - 7.14),12.73 (6.77 - 21.79),46.43% (29.53% - 64.19%),7.14% (1.98% - 22.65%),46.43% (29.53% - 64.19%)
27,NaN,NaN,2008,10281,7,2,8,17,16.54 (9.62 - 26.48),6.81 (2.71 - 14.06),1.95 (0.19 - 7.09),7.78 (3.34 - 15.36),41.18% (21.61% - 63.99%),11.76% (3.29% - 34.34%),47.06% (26.16% - 69.04%)
28,NaN,NaN,2009,10235,21,4,5,30,29.31 (19.78 - 41.84),20.52 (12.70 - 31.37),3.91 (1.03 - 10.05),4.89 (1.55 - 11.44),70.00% (52.12% - 83.34%),13.33% (5.31% - 29.68%),16.67% (7.34% - 33.56%)
29,NaN,NaN,2010,10442,25,1,13,39,37.35 (26.56 - 51.05),23.94 (15.49 - 35.34),0.96 (0.00 - 5.42),12.45 (6.62 - 21.30),64.10% (48.42% - 77.26%),2.56% (0.45% - 13.18%),33.33% (20.63% - 49.02%)
30,NaN,NaN,2011,10226,16,0,7,23,22.49 (14.25 - 33.75),15.65 (8.93 - 25.42),-,6.85 (2.73 - 14.13),69.57% (49.13% - 84.40%),-,30.43% (15.60% - 50.87%)
31,NaN,NaN,2012,10385,12,0,13,25,24.07 (15.58 - 35.54),11.56 (5.96 - 20.20),-,12.52 (6.65 - 21.42),48.00% (30.03% - 66.50%),-,52.00% (33.50% - 69.97%)

In [164]:
df['Country / registry'] = df['Country / registry'].astype(str)

In [182]:
[x for x in df['Country / registry'] if x != 'nan']
#order in which the countries are in

['Styria - Austria',
 'Antwerp - Belgium',
 'Hainaut - Belgium',
 'Pleven - Bulgaria ¹',
 'Zagreb - Croatia',
 'Odense - Denmark',
 'Paris - France',
 'Auvergne - France ²',
 'Isle de la Reunion - France ⁵',
 'French West Indies - France ⁴',
 'Brittany - France ³',
 'Saxony-Anhalt - Germany',
 'Mainz - Germany ⁶',
 'Dublin - Ireland ⁷',
 'Cork and Kerry - Ireland',
 'SE Ireland - Ireland',
 'Milan Area - Italy ⁸',
 'Emilia Romagna - Italy',
 'Tuscany - Italy',
 'Malta - Malta',
 'N Netherlands - NL',
 'Norway - Norway',
 'Wielkopolska - Poland',
 'S Portugal - Portugal',
 'Basque Country - Spain',
 'Valencian Region - Spain ¹⁰',
 'Navarre - Spain ⁹',
 'Vaud - Switzerland',
 'Ukraine - Ukraine ¹¹',
 'Wales - United Kingdom',
 'Thames Valley - United Kingdom',
 'Wessex - United Kingdom',
 'East Midlands & South Yorkshire - United Kingdom',
 'Northern England - United Kingdom',
 'South West England - United Kingdom ¹²',
 'West Midlands - United Kingdom ¹³',
 'Yorkshire and Humber - United Kingdom ¹⁴']

In [200]:
df[df['Country / registry'] == 'Styria - Austria']

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
2,Styria - Austria,All Anomalies,2000,10719,337,5,33,375,349.85 (315.35 - 387.09),314.39 (281.74 - 349.80),4.66 (1.48 - 10.92),30.79 (21.19 - 43.23),89.87% (86.40% - 92.53%),1.33% (0.57% - 3.08%),8.80% (6.33% - 12.10%)

In [199]:
df[df['Country / registry'] == 'Antwerp - Belgium']

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
1549,Antwerp - Belgium,All Anomalies,2000,18159,435,7,53,495,272.59 (249.12 - 297.69),239.55 (217.58 - 263.14),3.85 (1.53 - 7.96),29.19 (21.87 - 38.17),87.88% (84.71% - 90.47%),1.41% (0.69% - 2.89%),10.71% (8.28% - 13.74%)

In [210]:
df['Country / registry'].iloc[1:1548] = df['Country / registry'].iloc[1:1548].replace('nan','Styria - Austria')

In [211]:
df['Country / registry']

2        Styria - Austria
3        Styria - Austria
4        Styria - Austria
5        Styria - Austria
6        Styria - Austria
               ...
57236                 nan
57237                 nan
57238                 nan
57239                 nan
57240                 nan
Name: Country / registry, Length: 57239, dtype: object

In [212]:
df[df['Country / registry'] == 'Hainaut - Belgium']

1,Country / registry,Anomaly ^,Years,Population,LB N,FD N,TOPFA N,Total N,Total Prevalence (95% CI),LB Prevalence (95% CI),FD Prevalence (95% CI),TOPFA Prevalence (95% CI),LB Proportion (95% CI),FD Proportion (95% CI),TOPFA Proportion (95% CI)
3096,Hainaut - Belgium,All Anomalies,2000,12823,273,2,44,319,248.77 (222.24 - 277.61),212.90 (188.41 - 239.70),1.56 (0.15 - 5.69),34.31 (24.94 - 46.06),85.58% (81.30% - 89.01%),0.63% (0.17% - 2.26%),13.79% (10.44% - 18.01%)

In [ ]:
df['Country / registry'].iloc[1548:1548] = df['Country / registry'].iloc[1:1548].replace('nan','Styria - Austria')